./* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
}

/* Header */
header{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

header h1{
    color:#ff69b4;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:#ff69b4;
}

/* Home Section */
#home{
    text-align:center;
    padding:100px 20px;
}

#home h2{
    font-size:40px;
    margin-bottom:10px;
}

#home h3{
    font-size:28px;
    color:#ff69b4;
    margin-bottom:20px;
}

#home p{
    font-size:18px;
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

/* Button */
.btn{
    display:inline-block;
    margin-top:30px;
    padding:12px 25px;
    background:#ff69b4;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#ff1493;
}
/* About Section */

#about{
    text-align:center;
    padding:80px 20px;
    background:white;
}

#about img{
    width:200px;
    height:200px;
    border-radius:50%;
    margin:20px 0;
}

#about p{
    max-width:800px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}

/* Skills Section */

#skills{
    background:#f9f9f9;
    padding:80px 20px;
    text-align:center;
}

#skills ul{
    list-style:none;
}

#skills li{
    display:inline-block;
    background:#ff69b4;
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius:20px;
    font-weight:bold;
}
/* Projects */

#projects{
    padding:80px 20px;
    background:white;
    text-align:center;
}

.project{
    width:70%;
    margin:20px auto;
    padding:20px;
    background:#f4f4f4;
    border-radius:10px;
}

/* Resume */

#resume{
    padding:80px 20px;
    text-align:center;
    background:#ffeef7;
}

/* Contact */

#contact{
    padding:80px 20px;
    text-align:center;
    background:white;
}

#contact p{
    margin:10px 0;
    font-size:18px;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}